$bg: #1f262a;
$bg2: #262c33; // background color for music player's scale trough
$bg3: #2d3638; // background color for bar's scale trough
$shadow: #1e2426;
$text: #d3c6aa;
$text2: #e0d3ba;

$color1: #d3c6aa; // for calendar and clock
$color2: #dbbc7f; // for clock date
$grey: #475258;
$grey2: #3a4d67; // for unoccupied desktop icon and separation
$teal: #b6ddc0; // for tray icon and calendar
$blue: #7fbbb3; // for unfocused desktop icon and calendar's selected date, brighter variant

$calendar_btn: #a7c080; // calendar button

/** General **/
.top_items,
.top-items{
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
}

.module {
    margin: 0px;
    border-radius: 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: $bg;
    font-size: 18px;
    color: $text;
}

tooltip label {
    margin: 6px;
}

/** Widgets **/

.top_center_modules{
	color: transparent;
}
.clock_date_class, 
.qs_button_class {
	font-size: 18px;
	border: none;
	border-radius: 20px;
	color: #f7f9bf;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.8;
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: $color1;
}

.clock_time_class {
    color: $color1;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}

// Calendar
.cal {
    background-color: transparent;
    font-family: Maple Mono SC NF;
    font-size: 14px;
    font-weight: normal;
	border: none;
    .cal-in {
        padding: 0px 10px 0px 10px;
        color: $color1;
        .cal {
            &.highlight {
                padding: 18px;
            }
			
            padding: 6px;
            margin-left: 6px;
            
        }
    }
}

.calendar,
.qs_popup,
.screen_popup{
	background-color:  rgba(#223b54, 0.5);
	border-radius: 20px;
}

calender {
    color: $color1;
}
calendar:selected {
    color: #0b1c2c;
    background: transparent;
}

calendar.header {
    color: #f7f9bf;
    background: transparent;
    font-weight: bold;
    border:none;
}

calendar.button {
    color: #f7f9bf;
    background: transparent;
}

calendar.highlight {
	background: transparent;
    color: #bfbf56;
}

calendar:indeterminate {
    color: #bf8b56;
}

.music {
	background-color: rgba(#405c79, 0.5);
	min-height: 150px;
	border-radius: 20px;
	margin: 20px 10px;
}

.music_info {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.music_art{
	margin:0px;
	min-height: 60px;
	min-width: 60px;
	border-radius: 20px;
	border: none;
}

.music_artist{
	margin: 0px;
	font-size: 16px;
	font-weight: bold;	
	min-height:20px;
	min-width: 330px;
	color: #e5ebf1;
}

.music_title{
	margin: 0px;
	font-size: 14px;
	font-style:italic;	
	min-height:20px;
	min-width: 330px;
	color: #bfbf56;
}

.music_controls{
	padding: 0px;
	margin: 10px 40px;
}
.music_button{
	min-height: 30px;
	border-radius: 30px;
	margin: 0px 20px;
	border: solid 2px #f7f9bf;
	font-size: 22px;
	color: #f7f9bf;
}

.music_button:hover{
	min-height: 28px;
	border: solid 3px #bfbf56;
	color: #bfbf56;
}


.bottom-items,
.bottom_items {
    background-color: transparent;
}

.bottom_right_modules{
	background-color: transparent;
}

.qs_module{
	margin: 5px 10px;
}



.qs_container_buttons{
	background:none ;
	border-radius: 30px;
	min-height: 40px;
}

.qs_container_sliders{
	background: none;
	border-radius: 30px;
	min-height: 40px;
}

.qs_button{
	min-height:30px;
	min-width:118px;
	border-radius:20px;
	margin: 6px 6px;
	border: solid 2px #f7f9bf;
	font-size: 22px;
	color: #f7f9bf;
}

.qs_button:hover,
.qs_screen:hover,
.volume_button_settings:hover,
.volume_button_mute:hover{
	color: #bfbf56;
	border-color: #bfbf56; 
}

.qs_screen{
	min-height:18px;
	min-width:20px;
	border-radius:20px;
	margin: 6px;
	padding: 2px 12px 2px 6px;
	border: solid 1px #f7f9bf;
	font-size: 22px;
	color: #f7f9bf;
}

.qs_bluetooth_active{
	color: #405c79;
}

.qs_bluetooth_active:hover{
	color: #405c79;
	border: solid 2px #405c79;
}

.volume_button_mute{
	color: #f7f9bf;
	border: solid 1px #f7f9bf;
	min-width: 10px;
	min-height: 10px;
	border-radius: 20px;
	font-size: 25px;
	margin: 5px;
	padding: 2px 12px 2px 8px;
}

.volume_button_settings{
	color: #f7f9bf;
	border: solid 1px #f7f9bf;
	min-width: 10px;
	min-height: 10px;
	border-radius: 20px;
	font-size: 20px;
	margin: 5px;
	padding: 2px 14px 2px 8px;
}

.volbar {
	margin: -4px;
}

.volbar trough highlight {
border:none;
  background-color: #f7f9bf;
  border-radius: 10px;
}

.volbar trough {
border:none;
  background-color: transparent;
  border-radius: 10px;
  min-height: 10px;
  min-width: 250px;
  margin: 0px;
}

.volbar trough slider{
	background-image: none;
	border: solid 2px #0b1c2c;
	background-color: #f7f9bf;
	margin: -4px 0px;
	min-width: 14px;
	min-height: 14px;
}

.screenshot_button{
	min-height:30px;
	min-width:50px;
	border-radius:15px;
	margin: 5px 5px;
	padding: 5px 14px 5px 10px;
	border: solid 2px #f7f9bf;
	font-size: 22px;
	color: #f7f9bf;
}

.screenshot_button:hover{
	min-height: 28px;
	min-width: 48px;
	border: solid 3px #bfbf56;
	color: #bfbf56;
}


.screenshot_button_disable {
	min-height:30px;
	min-width:50px;
	border-radius:15px;
	margin: 5px 5px;
	padding: 5px 14px 5px 10px;
	border: solid 2px #bf5656;
	font-size: 22px;
	color: #bf5656;
}

.stop_record{
	min-height:5px;
	min-width:10px;
	border-radius:20px;
	margin: 12px 45px;
	border: none;
	font-size: 1px;
	background: transparent;
	color: transparent;
	box-shadow: none;
}

.stop_record_active {
	min-height: 25px;
	margin: 5px 47px;
	font-size: 24px;
	padding: 1px 6px 1px 0px;
	border-radius:25px;
	background: #bf5656;
	border: none;
	color: #bfbf56;	
	box-shadow: none;
	text-shadow: none;
}
