
      	     tooltip {
      	       color: #ff7f80;
     	       background-color: #0b1c2c;
     	       border-radius: 10px;
     	       border: 1px solid #f7f9bf;
      		  }

      		  tooltip label {
      		    color: #f7f9bf;
      		  }

      		 #clock,
      		 #mpris,
      		 #bluetooth,
      		 #pulseaudio,
      		 #network {
      		 	font-size: 16px;
      			color: #f7f9bf;
      		    background-color: #223b54;  
      		  	border-radius: 10px;
      		  	opacity:0.5;
      		  	margin-right: 10px;
      		  	transition: min-width 0.5s;
      		  	margin-bottom: 4px;
      		  }
      		 window#waybar {
      			background-color: transparent;
      			color: white;
      		  }


      		  #clock {
      		    min-width: 140px;
      		  }
      		  #clock:hover {
      		  min-width: 180px;
      		  }
      		  #mpris {
      		    min-width: 900px;
      		  }
      		  #mpris:hover {
      		    min-width: 940px;
      		  }
      		  #mpris.firefox {
      		    background-color: #bf8b56;	
      		  }
      		  #mpris.stopped,
      		  #mpris.paused {
      		    background-color: #0b1c2c;	
      		  }
			  #bluetooth {
			  	min-width: 300px;
			  }
			  #bluetooth:hover {
			  	min-width: 340px;
			  }
			  #bluetooth.off,
			  #bluetooth.on {
		  	min-width: 50px;
			  }
			  #bluetooth.off:hover,
			  #bluetooth.on:hover {
			  	min-width: 90px;
			  }
			  #pulseaudio {
      		    min-width: 150px;
      		  }
      		  #pulseaudio:hover {
      		    min-width: 170px;
      		  }
		  	  #network {
		  	  	min-width: 250px;
		  	  }
		  	  #network:hover {
		  	  	min-width: 290px;
		  	  }
		  	  .setup { 
     		    border-radius: 10px;      		    
		  	  }
      		  
      	
